<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ISOBAR</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/band.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ISOBAR.styles.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background-color: red;">
            <div class="container-fluid">
                <div class="col-sm-7">
                    <div style="position: relative;">

                        <input type="text" class="form-control" id="searchInput" style="padding-right: 40px;">
                        <i id="searchInputButton" class="bi bi-search position-absolute" style="top: 10px; right: 10px;"></i>

                    </div>
                </div>
                <div class="col-sm-5 d-flex justify-content-end">
                    <a class="navbar-brand text-white" asp-area="" asp-page="/Index">ISOBAR.fm</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - ISOBAR - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
<script>
    var searchInputButton = document.getElementById('searchInputButton');
    var searchInput = document.getElementById('searchInput');
    
    searchInputButton.addEventListener('click', function () {
        location.href = "?searchQuery=" + searchInput.value;
    });
</script>